<% include ../partials/header %>
   
    <div class="jumbotron" style="background-color : #FFFFE0" >
    <center><img src="https://scontent.fbkk9-2.fna.fbcdn.net/v/t1.0-9/29541021_1652366574839957_8696337976499923229_n.jpg?_nc_cat=109&_nc_ht=scontent.fbkk9-2.fna&oh=2e2b853024d1766477d3eab5435e4cd2&oe=5C4A3C96"width="300"</center>
        <div class = "cover" align = "center" >
            <h1 ><%= name%></h1>
            <h2 ><%= id%></h2>
            <h2 ><%= major%></h2>
            <h3 ><%= bdate%></h3>
            <h3 ><%= quote%></h3>
            
        </div>
    </div>
<% include ../partials/footer %>