<% include ../partials/header %>
    
    <div class="jumbotron" style="background-color : #FFFFE0">
        <form action = "/product/update" method = "POST">
        <h1>EDIT PRODUCT INFO.</h1>
            <div class="form-group" style="font-size: 20px">
                <label for="">ID</label>
                <input type="number" class="form-control" value = "<%= product.product_id %>" name="id" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Product ID</small>
            </div>


            <div class="form-group" style="font-size: 20px">
                <label for="">TITLE</label>
                <input type="text" class="form-control" value = "<%= product.title %>" name="title" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Product Title</small>
            </div>


            <div class="form-group" style="font-size: 20px">
                <label for="">Price</label>
                <input type="number" class="form-control" value = "<%= product.price %>" name="price" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Product Price</small>
            </div>

            <div class="form-group" style="font-size: 20px">
                <label for="">Time</label>
                <input type="text" class="form-control" value="<%= time %>"name="time" id="" aria-describedby="helpId" placeholder="" >
            </div>

            <div class="text-center" style="font-size: 20px">
                <button type = "submit" class="btn btn-info">SAVE</button>
                <a name="" id="" class="btn btn-warning" href="/products" role="button">CANCLE</a>
                <button type="button" class="btn btn-danger" data-target="#exampleModalCenter" onclick="deleteProduct(<%= product.product_id %>);">Delete</button>
            </div>
        </form>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">DO YOU WANT DELETE THIS PRODUCT
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
            </div>
        </div>
    </div>
    <script>
        var selectedProduct = 0;
        function deleteProduct(id){
            console.log(id);
            selectedProduct = id;
            $('#exampleModalCenter').modal('show')
        }
        function confirmDelete(){
            console.log('confirm:'+selectedProduct);
            window.location.href = '/product_delete/'+selectedProduct;
        }        
    </script>
<% include ../partials/footer %>